{% extends "base.jinja" %}

{% block title %}{{ author }}'s Tier{% endblock %}

{% block content %}
<div class="content">
    <section class="tier-section">
        {% for title, author, added, tier_data in tiers %}
            <div class="tier-info">
                <div class="tier-title">{{ title }}</div>
                <div class="tier-author">By {{ author }}, {{ tier_datetime(added) }}</div>
            </div>
            <div class="tier">
            {% for rank, tier_items in tier_data.items() %}
                <div class="row" data-row>
                    <div class="rank {{ rank }}"><div>{{ rank }}</div></div>
                    <div class="items" data-items>
                        {% for src in tier_items %}
                        <img data-drag class="item" src="{{ src }}" draggable="false"/>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </section>
</div>
{% endblock %}
